@model IEnumerable<CoolCatCollects.Models.UsedFigureImportModel>
@{
    ViewBag.Title = "Upload Used Figures";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Number</th>
        <th>Condition</th>
        <th>Plural</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @using (Html.BeginForm("FormResult", "ListingGenerator", FormMethod.Get, new { target = "_blank" }))
            {
                <input type="hidden" name="model.Type" value="UsedFigSingle" />
                <td>
                    <input class="form-control" type="text" value="@item.Title" name="model.Title" />
                </td>
                <td class="thin">
                    <input class="form-control" type="text" value="@item.Number" name="model.Number" />
                </td>
                <td class="medium">
                    <input class="form-control" type="text" value="@item.Condition" name="model.Condition" />
                </td>
                <td class="thinnest">
                    <input class="form-control" type="checkbox" name="model.Plural" value="true" />
                </td>
                <td class="thinner">
                    <input class="btn btn-default js-create" type="submit" value="Create" />
                </td>
            }
        </tr>
    }
</table>

@section scripts 
{
    <script>
        $('.js-create').click(function () {
            var btn = $(this);

            btn.removeClass('btn-default').addClass('btn-success').val('Done');
        });
    </script>
}

@section styles
{
    <style>
        .thin {
            width: 150px;
        }

        .thinner {
            width: 70px;
        }

        .thinnest {
            width: 0;
        }

        .medium {
            width: 300px;
        }
    </style>
}
