.vs/
packages/
CoolCatCollects.Bricklink/bin/
CoolCatCollects.Bricklink/obj/
CoolCatCollects.Core/bin/
CoolCatCollects.Core/obj/
CoolCatCollects.Data/bin/
CoolCatCollects.Data/obj/
CoolCatCollects.Ebay/bin/
CoolCatCollects.Ebay/obj/
CoolCatCollects.Login/bin/
CoolCatCollects.Login/obj/
CoolCatCollects.Models/bin/
CoolCatCollects.Models/obj/
CoolCatCollects.Services/bin/
CoolCatCollects.Services/obj/
CoolCatCollects/App_Data/
CoolCatCollects/bin/
CoolCatCollects/obj/
