@{
	ViewBag.Title = "Bricklink Orders for Postage";
}
@section styles {
	<link href="~/Content/checkbox.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css " rel="stylesheet" />
	<style>
		table thead th.sortable {
			cursor: pointer;
		}
	</style>
}
@section scripts{
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="~/Scripts/Angular/BricklinkPostageExport.js"></script>
}

<input type="hidden" id="overrideStage" value="@Request.QueryString["overrideStage"]" />

<div ng-app="postageExportApp">
	<div ng-controller="PostageExportController">
		<h2>Bricklink Orders for Postage: {{Orders.length}}</h2>

		@using (Html.BeginForm("Export", "BricklinkPostage", FormMethod.Post, new { @class = "js-form" }))
		{
			<button type="button" class="btn btn-primary" ng-click="SubmitForm(this)">Export</button>
			<br />
			<br />
			<table ng-show="Orders.length" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Selected</th>
						<th class="sortable" ng-click="Order('OrderId')">
							Order Id
							<i ng-show="OrderProperty === 'OrderId'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
						<th class="sortable" ng-click="Order('RealName')">
							Buyer Name
							<i ng-show="OrderProperty === 'RealName'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
						<th class="sortable" ng-click="Order('Total')">
							Total
							<i ng-show="OrderProperty === 'Total'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
						<th class="sortable" ng-click="Order('Weight')">
							Weight (kg)
							<i ng-show="OrderProperty === 'Weight'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
						<th class="sortable" ng-click="Order('PackageSize')">
							Size
							<i ng-show="OrderProperty === 'PackageSize'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
						<th class="sortable" ng-click="Order('ShippingMethod')">
							Shipping Method
							<i ng-show="OrderProperty === 'ShippingMethod'" ng-class="{fas: true, 'fa-arrow-down': OrderReverse, 'fa-arrow-up': !OrderReverse}"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in Orders | orderBy:OrderProperty:OrderReverse">
						<input type="hidden" name="Orders[{{$index}}].OrderId" ng-value="order.OrderId" />
						<td ng-click="check(order, 'Selected')" class="checkable">
							<label class="check">
								<input ng-click="check(order, 'Selected')" type="checkbox" name="Orders[{{$index}}].Selected" ng-model="order.Selected" value="true" />
								<span></span>
							</label>
						</td>
						<td ng-click="check(order, 'Selected')" class="checkable">{{order.OrderId}}</td>
						<td ng-click="check(order, 'Selected')" class="checkable">{{order.Username}} <br />({{order.RealName}})</td>
						<td ng-click="check(order, 'Selected')" class="checkable">{{order.Total}}</td>
						<td style="width: 120px;">
							<input type="text" class="form-control" name="Orders[{{$index}}].Weight" ng-model="order.Weight" />
						</td>
						<td style="width: 150px;">
							<select ng-model="order.PackageSize" name="Orders[{{$index}}].PackageSize" class="form-control">
								<option ng-repeat="size in SizeOptions" ng-value="size.Value">{{size.Text}}</option>
							</select>
						</td>
						<td style="width: 340px;">
							<select ng-model="order.ShippingMethod" name="Orders[{{$index}}].ShippingMethod" class="form-control">
								<option ng-repeat="shippingMethod in GetShippingMethods(order)" ng-value="shippingMethod.Value" ng-disabled="shippingMethod.Disabled">{{shippingMethod.Text}}</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		}
	</div>
</div>

@Html.ActionLink("Old Version of this page", "Old")
