
<h1>Please Enter a set Number</h1>

<form class="row navbar-form" action="@Url.Action("PartListFromSet")" method="get">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" name="set" class="form-control" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">Go</button>
			</span>
		</div>
	</div>
</form>