@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_LayoutNonAdmin.cshtml";
}

<div class="jumbotron">
	<img src="~/Content/logo.png" style="float:right" />
	<h1>Cool Cat Collects</h1>
	<p class="lead">Welcome to Cool Cat Collects. This site is currently under construction.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>eBay</h2>
		<p>
			Mostly Minifigures and Bundles
		</p>
		<p><a class="btn btn-default" href="https://www.ebay.co.uk/str/Cool-Cat-Collects" target="_blank">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Bricklink</h2>
		<p>
			Lots of parts
		</p>
		<p><a class="btn btn-default" href="https://store.bricklink.com/mroseives" target="_blank">Learn more &raquo;</a></p>
	</div>
</div>